@{
    ViewData["Title"] = "SessionGet";
}


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body" style="background-color:aqua">
                
                    <div class="form-group">
                        <label >Name:&nbsp;@ViewBag.Name</label>
                    </div>
                    <div class="form-group">
                        <label>Age:&nbsp;@ViewBag.Age</label>
                    </div>
                
            </div>
        </div>
    </div>
</div>
